﻿<h2>Create User</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <button ng-click="redirectView()" type="button" class="btn btn-primary active">View</button>
        <button ng-click="redirectCreate()" type="button" class="btn btn-primary active">Create</button>
        <!--<button ng-click="redirectUpdate()" type="button" class="btn btn-primary active">Update</button>-->
    </div>
    <div class="panel-body">
        <div class="form-group row">
            <div class="col-xs-2">
                <label for="ex1">Name</label>
                <input class="form-control" id="ex1" type="text" ng-model="model.Name">
            </div>
            <div class="col-xs-2">
                <label for="ex2">Age</label>
                <input class="form-control" id="ex2" type="text" ng-model="model.Age">
            </div>
            <div class="col-xs-2">
                <label for="ex3">Email</label>
                <input class="form-control" id="ex3" type="text" ng-model="model.Email">
            </div>
            <div class="col-xs-2">
                <label for="ex3">Address</label>
                <input class="form-control" id="ex3" type="text" ng-model="model.Address">
            </div>
            <div class="col-xs-2">
                <label for="ex3">Mobile</label>
                <input class="form-control" id="ex3" type="text" ng-model="model.Mobile">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">
                <button type="button" class="btn btn-primary active" ng-click="saveUser()">Create</button>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>